---
---

.container-fluid(ng-controller='MainCtrl')

  .jumbotron
    %h1 SWF Investigator

    %p
      To begin load the JSON serialized workflow history
    %p
      %span.btn.btn-primary.btn-lg.btn-file
        %span.glyphicon.glyphicon-upload
        %input(type='file' onchange='angular.element(this).scope().loadInput(this.files)') Load file

  .history-chart(gantt-chart data='tasks')
  %pre.hidden
    {{tasks.tasks.length}}
    {{tasks | json}}

  .panel.panel-default
    .panel-heading
      Workflow summary: {{ctx.history.length}} events ({{ctx.inputHistory.length}} bytes)

    .panel-body
      %ul.list-group
        %li.entry.list-group-item(href="" ng-repeat="event in ctx.history" ng-click="updateDetails($index)")
          .list-group-item-heading
            %span.caret
            %div(swf-event="event.eventType")
            %span(swf-timestamp="event.eventTimestamp")
          %pre.list-item-group-text.data.pre-scrollable(ng-show="$index == ctx.currentIndex" ng-bind-html="ctx.currentEvent | prettyPrint" ng-click="$event.stopPropagation();")

